#build {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-right: 18px;
    gap: 1rem;
    color: white;
}

#build h2{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.1px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
}

#build > div {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}