#build{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 2rem 18px;
}

#build-inner {
    border-top: 2px solid #1e2028;
    border-bottom: 2px solid #1e2028;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#build h2{
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.1px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 30px;
    background-color: #1e2028;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#block-contain {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1.2rem;
}

.block * {
    background-color: #1e2028;
}

.block p {
    color: #788591;
}

.block h3 {
    text-align: center;
}

#block-contain {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

@media (min-width:767px) {
    #block-contain {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:991px) {
    #build h2{
        font-size: 2rem;
    }

    #block-contain {
        grid-template-columns: repeat(4,1fr);
    }
}