#footer * {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 0%, rgba(0,188,255,1) 0%, rgba(0,137,255,1) 0%, rgba(0,146,255,1) 0%, rgba(0,146,255,1) 91%);
}

#footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 0%, rgba(0,188,255,1) 0%, rgba(0,137,255,1) 0%, rgba(0,146,255,1) 0%, rgba(0,146,255,1) 91%);
    padding-top: 8rem;
    padding-left: 18px;
    padding-bottom: 4rem;
}

#footer ul {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#footer footer img {
    width: 60px;
}