#header {
    display: flex;
    flex-direction: column;
}

#top-header img {
    width:80px;
    height:80px;
}

#top-header {
    padding: 30px;
}

#logo {
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    gap: 15px;
}

#logo span {
    letter-spacing: 1px;
}

@media (min-width:320px) {
    #top-header img {
        width:50px;
        height:50px;
    }    
}

@media (min-width:720px) {
    #top-header img {
        width:80px;
        height:80px;
    }    
}