#header {
    display: flex;
    flex-direction: column;
}

#top-header img {
    width:80px;
    height:80px;
}

#top-header {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #1a1a1a; */
}

#logo {
    color: white;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    gap: 15px;
}

#logo span {
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

@media (min-width:320px) {
    #top-header img {
        width:55px;
        height:55px;
    }

    #menu div {
        width: 25px;
        height: 2px;
        background-color: white;
    }

    #menu {
        margin-right: 20px;
    }

    #logo span {
        font-size: x-large;
        letter-spacing: 2px;
        font-weight: bolder;
    }

    #header {
        position: relative;
    }
}

@media (min-width:479px) {
    #bar {
        display:flex;
        color: white;
        gap: 35px;
        align-items: center;
    }

    #docs {
        font-size: large;
        color: orange;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 3px;
        border-bottom: 2px solid orange;
    }
}