#section1 h1 {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.2;
}

@media (min-width: 320px) {
    #section1 {
        margin-top: 5rem;
        margin-left: 18px;
    }

    #section1-bottom img {
        width: 80px;
    }

}