#section1 h1 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.2;
}

#section1-bottom div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 320px) {
    #section1 {
        margin-top: 5rem;
        margin-left: 18px;
        margin-right: 25px;
        padding-bottom: 4rem;
    }

    #section1-top h5 {
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }

    #section1-bottom {
        margin-top: 80px;
    }

    #section1-bottom p {
        font-size: 0.9rem;
        font-weight: 900;
        color: #fff;
        letter-spacing: 0.1rem;
        color: #878a8e;
        margin-bottom: 20px;
        /* line-height: 1.2; */
    }

    #section1-bottom img {
        /* margin-top: 50px; */
        width: 85px;
    }
    
    #section1-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width:479px) {

    #section1 {
        margin-top: 2rem;
        margin-left: 15px;
        margin-right: 30px;
    }

    #section1-top h1 {
        font-size: 3.5rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }

    #section1-bottom {
        margin-top: 40px;
    }

    #section1-bottom img {
        width: 120px;
    }

}

@media (min-width:991px) {

    #section1 {
        padding-bottom: 5rem;
    }

    #section1-top {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    #section1 {
        padding-top: 6rem;
        padding-left: 10rem;
        padding-right: 6rem;
        /* padding-bottom: 1rem; */
    }

    #section1-top h1 {
        font-size: 5.5rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }

    #section1-bottom img {
        width: 200px;
    }

    #section1-bottom {
        margin-top: 150px;
    }

}