#section1 h1 {
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 1.2;
}

@media (min-width: 320px) {
    #section1 {
        margin-top: 5rem;
        margin-left: 18px;
        margin-right: 25px;
    }

    #section1-top h5 {
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 1.2;
    }

    #section1-bottom {
        margin-top: 80px;
    }

    #section1-bottom p {
        font-size: 0.9rem;
        font-weight: 900;
        color: #fff;
        letter-spacing: 0.1rem;
        color: #878a8e;
        margin-bottom: 20px;
        /* line-height: 1.2; */
    }

    #section1-bottom img {
        /* margin-top: 50px; */
        width: 85px;
    }

    #section1-bottom div {
        display:grid;
        /* create columsn each with 1fr  */
        grid-template-columns: repeat(3, 1fr);
    }
    
    #section1-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}