#section2 {
    width: 100%;
}

#section2 *{
    background-color: #1e2028;
}

@media (min-width:320px) {
    #section2-div {
        padding-left: 18px;
        padding-top: 8rem;
    }

    #section2-div h1 {
        font-size: 2.2rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.1rem;
        line-height: 1.1;
    }

    #section2-div h3 {
        font-size: 1.2rem;
        font-size: larger;
        color: orange;
        letter-spacing: 1px;
        padding-bottom: 3px;
        border-bottom: 2px solid orange;
    }
}