h4 {
    padding: 5px;
    background-color: #ff3172;
    text-align: center;
    line-height: 1.3;
    color: white;
    font-size: large;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (min-width: 320px) {
    h4 {
        font-size: medium;
    }
}

@media (min-width: 768px) {
    h4 {
        font-size: medium;
    }
}

@media (min-width: 992px) {
    h4 {
        font-size: large;
    }
}